body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  background-color: #f8f8f8;
  margin: 0;
  text-align: center;
  width: 100%;
}
.header {
  display: flex;
  background-color: #cc0000;

  color: white;
  font-size: 20px;
  padding: 30px;
}

.header-logo {
  width: 70px;
  height: 70px;
}

.footer {
  color: white;

  background-color: #282823;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid 10px #ffc000;
  margin-top: 500px;
}
.footer-nav a {
  color: white;
}
